@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kdam+Thmor+Pro&family=Righteous&display=swap');
:root{
	--top-bar-height: 15%;
}
body{
	background-color: #181425;
	color: #c0cbdc;
	font-family: "Righteous";
}
.top-bar{
	z-index: 1;
	position: absolute;
	background-color: #262b44;
	top: 0pc;
	left: 0pc;
	width: 100%;
	text-align: center;
	height: var(--top-bar-height);
	filter: drop-shadow(0px 0px 10px black);
}
.content{
	position: absolute;
	top: 0pc;
	background-color: #3a4466;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	padding: 2pc;
	border-radius: 1pc;
	border-top-left-radius: 0pc;
	border-top-right-radius: 0pc;
	top: var(--top-bar-height);
	height: fit-content;
}